.banner_nav_fix {
  padding-bottom: 50px;
  overflow: hidden;
}

.services-carousel-pagex {
  background-color: #fefefe;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  background-color: #ff4f47;
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
  font-size: 8px;
  color: red;
  border: 2px solid rgba(var(--roofsie-white-rgb), .20);
  border-radius: 50%;
  margin: 0;
  text-align: center;
  transition: all 500ms ease;
  padding: 23px;
  right: 60px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 20px !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  top: 40% !important;
  left: 92% !important;
}

.main-slider .swiper-button-prev {}

.swiper-pointer-events {
  /* background-color: #211f1f; */
}

.pt-120 {
  padding-top: 120px;
}

.icon-magnifying-glass:before {

  color: transparent;
  cursor: none;
}

.sidebar-header {
  justify-content: space-around;
}